<div class="edit-pass-pg">
  <h2>Add Availability </h2>
  <p>Select one or more day/time slots:</p>


<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>
    <div class="availability-container">

      <div class="availability-header">
        <% ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"].each do |day| %>
          <div class="day-header" data-day="<%= day.downcase %>"><%= day %></div>
        <% end %>
      </div>

      <div class="availability-slot">
        <% ["Morning", "Midday", "Evening"].each do |time| %>

          <% ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"].each do |day| %>
            <div class="slot day-block" data-day="<%= day.downcase %>">
              <% time_slot = "#{day} #{time}" %>
              <% checkbox_id = "availability_#{day.downcase}_#{time.downcase}" %>
              <%= check_box_tag "user[availability][]", time_slot,(@user.availability || []).include?(time_slot), id: checkbox_id, class: "day-slot tag-selector", data: { day: day.downcase } %>
              <%= label_tag checkbox_id, time %>
            </div>
          <% end %>

        <% end %>
      </div>
    </div>


  <div class="form-new" data-controller="toggle">
    <div class="form-inputs d-none" data-toggle-target="form">
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>

    </div>

    <div class="form-actions" id="availability-form">
      <%= f.button :submit, "Update Availability", class:"new-btn login-btn" , id:"availability-page-button"%>
    </div>
    <span class="change-password" data-action="click->toggle#toggle">Change password</span>

  </div>


<% end %>


  <p>Unhappy? </p>
  <div><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>
</div>
