<div data-controller="navbar" class="navbar" data-navbar-target="navbar">
  <div class="navbar-menu">
      <div class="navbar-logo">
        <a href="#" data-action="click->navbar#toggle" ><%= image_tag "icon_quest_odyssey.png", class: "logo" %></a>
      </div>
      <div class="navbar-item">
        <a href="<%= root_path %>" data-action="click->navbar#setActive" data-navbar-target="home" class="home navbttn on-hov">
          <i class="fa-solid fa-dungeon"></i>
          <p class="hidden-text">Home</p>
        </a>
      </div>
      <div class="navbar-item">
      <a href="<%= characters_path %>"data-action="click->navbar#setActive" data-navbar-target="characters" class="characters navbttn on-hov">
        <i class="fa-solid fa-user-ninja"></i>
        <p class="hidden-text">Characters</p>
      </a>
        <div class="navbar-submenu">
          <a href="<%= characters_path %>" class="on-hov">All</a>
          <a href="<%= new_character_path %>" class="on-hov">New</a>
        </div>
      </div>
      <div class="navbar-item">
      <a href="<%= campaigns_path %>" data-action="click->navbar#setActive" data-target="navbar.campaigns" class="campaigns navbttn on-hov">
        <i class="fa-solid fa-dice"></i>
        <p class="hidden-text">Campaigns</p>
        <div class="navbar-submenu">
            <a href="<%= campaigns_path %>" class="on-hov">All</a>
            <a href="<%= new_campaign_path %>" class="on-hov">New</a>
        </div>
      </a>
      </div>
        <div class="navbar-item">
          <a href="<%= calendars_path %>" data-action="click->navbar#setActive" data-target="navbar.calendar" class="calendar navbttn on-hov">
            <i class="fa-solid fa-calendar-xmark"></i>
            <p class="hidden-text">Calendar</p>
            <div class="navbar-submenu">
                <a href="<%= edit_user_registration_path %>" class="on-hov">Availability</a>
                <a href="#" class="on-hov">New</a>
            </div>
          </a>
    </div>
  </div>
          <% if current_user %>
            <%= turbo_stream_from "notifications_#{current_user.id}" %>
            <div data-controller="notifications" class="d-flex align-items-center justify-content-center">
              <div class="notification-container">
                <button class="notification-button" type="button" data-action="click->notifications#toggle" data-notifications-target="bell">
                  <i class="fas fa-bell"></i>
                  <div id="notifications_badge">
                    <% unread_notifications_count = @notifications.where(read: false).count %>
                    <% if unread_notifications_count > 0 %>
                      <span class="badge" data-notifications-target="badge" style="position: absolute; top: -5px; right: -5px; font-size: 0.7em;">
                        <%= unread_notifications_count %>
                      </span>
                    <% end %>
                  </div>
                </button>
                <ul id="notifications" class="notification-menu" aria-labelledby="notificationsDropdown" data-notifications-target="dropdown" style="display: none;">
                  <% if @notifications.empty? %>
                    <li id="no_notifications">
                      <a class="dropdown-item" href="#">No notifications</a>
                    </li>
                  <% else %>
                    <% @notifications.each do |notification| %>
                      <li>
                        <a class="dropdown-item" href="<%= notification.url %>">
                          <%= notification.message %>
                          <% if notification.occurrence_count > 1 %>
                            <span class="text-muted">(x<%= notification.occurrence_count %>)</span>
                          <% end %>
                        </a>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>
    <div class="login-out">
      <% if !current_user %>
        <%= link_to new_user_session_path do %>
          <i class="fa-solid fa-person-through-window"></i>
        <% end %>
      <% else %>
        <%= link_to destroy_user_session_path, data: { turbo_method: :delete } do %>
          <i class="fa-solid fa-person-through-window"></i>
        <% end %>
      <% end %>
    </div>
</div>
