<h2>Pending Invites</h2>

<% @pending_invites.each do |invite| %>
  <p><%= invite.campaign.user.nickname %> invited you to join <%= link_to invite.campaign.name, campaign_path(invite.campaign) %></p>

  <%= form_with url: campaign_character_path(invite), method: :patch, local: true do |form| %>
    <h3>Select a Character to Join the Campaign</h3>
    <%= form.collection_select :character_id, current_user.characters, :id, :name, prompt: "Choose a character" %>
    <%= form.hidden_field :invite, value: true %>
    <%= form.submit "Accept" %>
  <% end %>

  <%= button_to "Decline", campaign_character_path(invite), method: :delete, data: { confirm: "Are you sure you want to decline this invite?" } %>
<% end %>

<h2>Joined Campaigns</h2>

<% @joined_campaigns.each do |campaign| %>
  <p>You are a member of <%= link_to campaign.campaign.name, campaign_path(campaign.campaign) %></p>
<% end %>

<h1>My Calendar</h1>

<h1>Weekly Calendar</h1>

<%= week_calendar(number_of_weeks: 1) do |date| %>
  <%= date %>
<% end %>
