<div class="campaigns-container">
  <div class="title">
      <h1>All Campaigns</h1>
  </div>

  <div class="campaigns-list">
    <div class="campaigns">
      <div class="">
        <% @campaigns.each do |campaign| %>
          <%= link_to campaign_path(campaign) do %>
            <div class="campaign-card" style="min-width: 300px; max-width: 300px;">
              <div class="campaign-card-content">
                <h5 class="campaign-card-title"><%= campaign.name %></h5>
                <p class="campaign-card-text"><%= campaign.description %></p>
                <%# <%= link_to 'View Campaign', campaign_path(campaign), class: 'btn btn-primary' %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>

<div class="characters-container">
  <div class="title">
      <h1>My Characters</h1>
  </div>

  <div class="characters-list">
    <div class="characters" >
        <% @characters.each do |character| %>
          <%= link_to character_path(character) do %>
            <div class="character-card" style="min-width: 300px; max-width: 300px;">
              <div class="character-card-image">
                <%= image_tag character.portrait, class: "thumbnail" %>
              </div>
              <div class="character-card-content">
                <h5 class="character-card-title"><%= character.name %></h5>
                <p class="character-card-text"><%= character.biography %></p>
                <%# <%= link_to 'View Character', character_path(character), class: 'btn btn-primary' %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
</div>


<h2>Pending Invites</h2>

<% @pending_invites.each do |invite| %>
  <p><%= invite.campaign.user.nickname %> invited you to join <%= link_to invite.campaign.name, campaign_path(invite.campaign) %></p>

  <%= form_with url: campaign_character_path(invite), method: :patch, local: true do |form| %>
    <h3>Select a Character to Join the Campaign</h3>
    <%= form.collection_select :character_id, current_user.characters, :id, :name, prompt: "Choose a character" %>
    <%= form.hidden_field :invite, value: true %>
    <%= form.submit "Accept" %>
  <% end %>

  <%= button_to "Decline", campaign_character_path(invite), method: :delete, data: { confirm: "Are you sure you want to decline this invite?" } %>
<% end %>

<% @pending_schedule_invites.each do |invite| %>
  <p><%= invite.session.campaign.user.nickname %> has called you to adventure on <%= link_to invite.session.date, campaign_sessions_path(invite.session)! %></p>

  <%= form_with url: campaign_session_character_session(invite), method: :patch, local: true do |form| %>
    <h3>Return to the adventure? </h3>
    <%= form.hidden_field :status, value: "approved" %>
    <%= form.submit "Accept" %>
  <% end %>
  <%= button_to "Decline",
              campaign_session_character_session_path(invite),
              method: :patch,
              params: { status: "rejected" },
              data: { confirm: "Are you sure you want to decline this invite?" } %>
<% end %>

<h2>Joined Campaigns</h2>

<% @joined_campaigns.each do |campaign| %>
  <p>You are a member of <%= link_to campaign.campaign.name, campaign_path(campaign.campaign) %></p>
<% end %>



<%= week_calendar(number_of_weeks: 1) do |date| %>
  <%= date %>
<% end %>
