<div class="dashboard-container">
  <h1 class="username">Welcome <span class="nickname"><%= @user.nickname %>...</span></h1>
  <div class="campaigns-container">
    <div class="title">
        <h2>My Quests</h2>
        <%= link_to new_campaign_path do %>
          <i class="fa-solid fa-plus" id="new-campaign-plus-2"></i>
        <% end %>
    </div>

    <div class="campaigns-list">
      <div class="campaigns">
          <% @campaigns.each do |campaign| %>
            <%= link_to campaign_path(campaign) do %>
              <div class="campaign-card">
                <div class="campaign-card-image">
                  <% if campaign.image.attached? %>
                    <%= cl_image_tag campaign.image.key, alt: "#{campaign.name} image", class: "thumbnail" %>
                  <% else %>
                    <%= image_tag('dnd_camp.png', alt: 'DnD Image',class: "thumbnail") %>
                  <% end %>
                </div>
                <div class="campaign-card-content">
                  <h5 class="campaign-card-title"><%= campaign.name %></h5>
                  <p class="campaign-card-text"><%= campaign.setting %></p>
                  <%# <%= link_to 'View Campaign', campaign_path(campaign), class: 'btn btn-primary' %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>

      </div>
    </div>
  </div>

  <div class="characters-container">
    <div class="title">
        <h2>My Characters</h2>
        <%= link_to new_character_path do %>
          <i class="fa-solid fa-plus" id="new-character-plus"></i>
        <% end %>
    </div>

    <div class="characters-list">
      <div class="characters char-title">
        <% @characters.each do |character| %>
          <%= link_to character_path(character) do %>
            <div class="character-card" >
              <div class="character-card-image">
                <% if character.portrait.attached? %>
                  <%= cl_image_tag character.portrait.key, class: "thumbnail" %>
                <% else %>
                  <%= image_tag('default_character.jpeg', alt: 'DnD Image',class: "thumbnail") %>
                <% end %>
              </div>
               <div class="character-card-content">
                <div class="dash-char-name">
                  <h5 class="character-card-title"><%= character.name %></h5>
                </div>
                <div class="dash-char-info">
                  <p class="character-card-text"><%= character.race %></p>
                  <div class="hexagon2">
                    <h4><%= character.level %></h4>
                  </div>
                  <p class="character-card-text"><%= character.speciality %></p>
                </div>
                <%# <p><%= link_to 'View Character', character_path(character), class: 'btn btn-primary' %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>


<div class="invites">
    <div class="pending-invites">
      <h4 class="title">Pending Invites</h4>

    <div class="invite-content">
      <% @pending_invites.each do |invite| %>
        <p><%= invite.campaign.user.nickname %> invited you to join <%= link_to invite.campaign.name, campaign_path(invite.campaign) %></p>

        <%= form_with url: campaign_character_path(invite), method: :patch, local: true do |form| %>
          <p>Select a Character to Join the Campaign</p>
          <%= form.collection_select :character_id, current_user.characters, :id, :name, prompt: "Choose a character", class: "colour-dropdown" %>
          <%= form.hidden_field :invite, value: true %>
          <%= form.submit "Accept" %>
        <% end %>

        <%= button_to "Decline", campaign_character_path(invite), method: :delete, data: { confirm: "Are you sure you want to decline this invite?" } %>
      <% end %>

      <% @pending_schedule_invites.each do |invite| %>
        <p><%= invite.session.campaign.user.nickname %> has called you to adventure on <%= link_to invite.session.date, campaign_sessions_path(invite.session)%>!</p>


        <%= form_with url: campaign_session_character_session_path(invite.session.campaign.id, invite.session.id, invite.id), method: :patch, local: true do |form| %>
          <p>Return to the adventure? </p>
          <%= form.hidden_field :status, value: "confirmed" %>
        <div class="dash-buttons">
          <%= form.submit "Accept" %>
        <% end %>
        <%= button_to "Decline",
                    campaign_session_character_session_path(invite.session.campaign.id, invite.session.id, invite.id),
                    method: :patch,
                    params: { status: "cancelled" },
                    data: { confirm: "Are you sure you want to decline this invite?" }, class: "form-button" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="dm-approvals">
    <h4 class="title">DM Approvals</h4>
    <div class="invite-content">

    <%if @dm_sessions_cancellations.any?%>
      <% @dm_sessions_cancellations.each do |session, message| %>
        <p><%= message %></p>

        <%= form_with url: session_approval_path(session), method: :patch, local: true do |form| %>
        <div class="dash-buttons">
          <%= form.hidden_field :status, value: "confirmed" %>
            <%= form.submit "Approve", class: "cta-btn" %>
          <% end %>

          <%= button_to "Decline",
              session_approval_path(session),
              method: :patch,
              params: { status: "cancelled" },
              data: { confirm: "Are you sure you want to cancel this session?" } %>
          <% end %>
        </div>
    <%end%>

    <%if @dm_sessions_all_accepted.any?%>
      <% @dm_sessions_all_accepted.each do |session, message | %>
        <p><%= message %></p>

        <%= form_with url: session_approval_path(session), method: :patch, local: true do |form| %>
        <div class="dash-buttons">
          <%= form.hidden_field :status, value: "confirmed" %>
          <%= form.submit "Approve" %>
        <% end %>

        <%= button_to "Decline",
          session_approval_path(session),
          method: :patch,
          params: { status: "cancelled" },
          data: { confirm: "Are you sure you want to cancel this session?" } %>
        </div>
      <% end %>
    <%end%>

      </div>
    </div>
    <div class="joined-campaigns">

        <h4 class="title">Active Quests</h4>
        <div class="invite-content">
          <% @joined_campaigns.each do |campaign| %>
            <p>You are a member of <%= link_to campaign.campaign.name, campaign_path(campaign.campaign) %></p>
          <% end %>
        </div>
    </div>
  </div>

  <div class="current-sessions">
    <div class="week-calendar-container">
      <%= week_calendar(events: @sessions, attribute: :date, number_of_weeks: 1) do |date, sessions| %>
        <%= date %>
        <% sessions.each do |session| %>
          <div class="session">
            <ul>
              <li><i class="fa-solid fa-shield"></i></li>
            </ul>
          </div>
        <% end %>
      <% end %>
    <div class="sessions">
      <h5>Quests</h5>
      <p><% @sessions.each do |session| %>
         <% if session.date.to_date >= Date.today %>
          <ul>
            <li><%= session.date.to_date %>: <%= session.campaign.name %></li>
          </ul>
        <% end %>
      <% end %></p>

    </div>
  </div>
</div>
</div>
