<div class="row">
  <% @characters.each do |character| %>
    <div class="col-md-6 mb-4">
      <%= link_to character_path(character) do %>
        <div class="character-show-card">
          <% if character.portrait.attached? %>
            <%= cl_image_tag character.portrait.key, class: "character-image" %>
          <% else %>
            <%= image_tag 'default_character.jpeg', class: "character-image" %>
          <% end %>
          <div class="infos">
            <div class="character-show-card-infos">
              <h2> <%= character.name %></h2>
              <p> <%= character.race %> <%= character.level %> </p>
            </div>
            <div class="additional-info">
              <div>
                <p>Class: <%= character.speciality %> </p>
                <p>Alignment: <%= character.alignment %></p>
              </div>
              <p id="player_name"> Player name: <%= character.user.nickname.capitalize %> </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
