
<div class= "container">
<div class="border-container">
    <div class="image-container-character">
    <a class="back-btn-char-show" href="<%= session[:return_to] || campaigns_path %>"><i class="fa-regular fa-hand-point-left"></i></a>
      <div class="character-image">
        <% if @character.portrait.attached? %>
          <%= cl_image_tag @character.portrait.key, class: "char-image" %>
        <% else %>
          <%= image_tag 'default_character.jpeg', class: 'char-image' %>
        <% end %>
      </div>
      <div class="basic-character-info">
         <% if current_user == @character.user %>
          <div class="camp-btns">
            <a class="delete-camp-char-show" href="<%= character_path(@character) %>" data-turbo-method="delete" data-turbo-confirm="Are you sure?"><i class="fa-solid fa-bomb"></i></a>
            <a class="edit-camp-char-show" href="<%= edit_character_path(@character) %>"><i class="fa-solid fa-wand-sparkles"></i></a>
          </div>
         <% end %>
        <h3>Name: <%= @character.name %></h3>
        <h3> Class: <%= @character.speciality %> <%= @character.level %></h3>
        <ul >
          <li>
            <label for="background">Background: </label> <%= @character.background %>
          <li>
            <label for="race">Race: </label> <%= @character.race %>
          </li>
          <li>
            <label for="alignment">Alignment: </label> <%= @character.alignment %>
          </li>
          <li id="playername">
            <label for="playername">Player Name: </label> <%= @character.user.nickname.capitalize %>
          </li>
        </ul>
      </div>
    </div>
    <div class="attributes-container">
      <div class="attributes">
        <ul>
          <li>
            <div class="attribute">
               <p>Strength</p> <h1><%= @character.stats['strength'] %></h1>
            </div>
          </li>
          <li>
            <div class="attribute">
              <p>Dexterity</p> <h1><%= @character.stats['dexterity'] %></h1>
            </div>
          </li>
          <li>
            <div class="attribute">
              <p>Constitution</p> <h1><%= @character.stats['constitution'] %></h1>
              </div>
          </li>
          <li>
            <div class="attribute">
              <p>Wisdom</p>  <h1><%= @character.stats['wisdom'] %></h1>
            </div>
          </li>
          <li>
            <div class="attribute">
              <p>Intelligence</p> <h1><%= @character.stats['intelligence'] %></h1>
            </div>
          </li>
          <li>
            <div class="attribute">
              <p>Charisma</p> <h1><%= @character.stats['charisma'] %></h1>
            </div>
          </li>
        </ul>
      </div>
      <div class="hp-info">
        <div class="hp">
          <ul>
            <li>
              <div class="hp-attribute">
                <h4>Hit Points</h4><h1>20</h1>
              </div>
            </li>
            <li>
              <div class="hp-attribute">
                <h4>Armor Class</h4><h1>12</h1>
              </div>
            </li>
          </ul>
        </div>
        <div class="throw-buttons">
          <button class= "throw-btn">Throws</button>
          <button class= "throw-btn">Skills</button>
        </div>
      </div>
      <div class="biography">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Bio</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Equipment</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Attacks</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="traits-tab" data-bs-toggle="tab" data-bs-target="#traits" type="button" role="tab" aria-controls="traits" aria-selected="false">Traits</button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="Bio-tab" tabindex="0">
            <%= @character.biography %>
          </div>
          <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="Equipment-tab" tabindex="0">
            <% @character.equipment.each do |item|  %>
              <ul><%= item['type'] %>:
                <li> <%= item['name'] %></li>
              </ul>
            <% end %>
          </div>
          <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="Attacks-tab" tabindex="0">
            <ul>Attacks:</ul>
              <% @character.attacks.each do |attack| %>
                <ul>
                  <li><%= attack['name'] %></li>
                  <li><%= attack['damage'] %></li>
                </ul>
              <% end %>
            </ul>
          </div>
          <div class="tab-pane fade" id="traits" role="tabpanel" aria-labelledby="traits">
            <ul>Traits:</ul>
              <% @character.traits.each do |trait| %>
              <li><%= trait['type'] %></li>
              <li><%= trait['trait'] %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
