
<div class= "container">
<div class="border-container">
    <div class="image-container-character">
      <div class="character-image">
        <%= image_tag @character.portrait %>
      </div>
      <div class="basic-character-info">
        <h3>Name: <%= @character.name %></h3>
        <h3> Class: <%= @character.speciality %> <%= @character.level %></h3>
        <ul >
          <li>
            <label for="background">Background: </label> <%= @character.background %>
          <li>
            <label for="race">Race: </label> <%= @character.race %>
          </li>
          <li>
            <label for="alignment">Alignment: </label> <%= @character.alignment %>
          </li>
          <li>
            <label for="playername">Player Name: </label> <%= @character.user.nickname.capitalize %>
          </li>
        </ul>
      </div>
    </div>
    <div class="attributes-container">
      <div class="attributes">
        <ul>
          <li>
            <div class="attribute">
               <p>Strength</p> <h1><%= @character.stats['strength'] %></h1>
            </div>
          </li>
          <li>
            <div class="attribute">
              <p>Dexterity</p> <h1><%= @character.stats['dexterity'] %></h1>
            </div>
          </li>
          <li>
            <div class="attribute">
              <p>Constitution</p> <h1><%= @character.stats['constitution'] %></h1>
              </div>
          </li>
          <li>
            <div class="attribute">
              <p>Wisdom</p>  <h1><%= @character.stats['wisdom'] %></h1>
            </div>
          </li>
          <li>
            <div class="attribute">
              <p>Intelligence</p> <h1><%= @character.stats['intelligence'] %></h1>
            </div>
          </li>
          <li>
            <div class="attribute">
              <p>Charisma</p> <h1><%= @character.stats['charisma'] %></h1>
            </div>
          </li>
        </ul>
      </div>
      <div class="hp-info">
        <h3>Hit Points</h3>
        <p>20</p>
        <h3>Armor Class</h3>
        <p>12</p>
        <button>Throws</button>
        <button>Skills</button>
      </div>
      <div class="biography">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Bio</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Equipment</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Attacks</button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="Bio-tab" tabindex="0">A nimble-fingered rogue with a sharp tongue and a sharper dagger, Lila thrives on mischief and the thrill of the unknown. Born to a nomadic halfling clan, she learned early that life is a game best played with a wink and a well-timed escape. Whether relieving a pompous noble of his purse or spinning elaborate cons in roadside taverns, Lila dances on the fine edge between fortune and folly.</div>
          <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="Equipment-tab" tabindex="0">
          <ul>Weapons:
            <li></li>
            <li>Rapier - A finely balanced blade, perfect for quick strikes and flourishes.</li>
            <li>Dagger - Small, sharp, and easily concealed. Great for close combat or throwing.</li>
          </ul>
          </div>
          <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="Attacks-tab" tabindex="0">
            <ul>Melee Attacks:</ul>
              <li>🔹 Rapier (Finesse, 1d8 Piercing, Single Target)
                <li>Attack Bonus: +5</li>
                <li>Damage: 1d8 + 3 piercing</li>
              </li>
              <li>Dagger (Finesse, Light, Thrown 20/60, 1d4 Piercing)
                <li>Attack Bonus: +5</li>
                <li>Damage: 1d4 + 3 piercing</li>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<%= link_to "Back to Characters", characters_path %>
