<div class="calendar-border">
  <div class="simple-month-calendar simple-calendar">
    <div class="calendar-heading">
      <time datetime="<%= start_date.strftime('%m-%Y') %>" class="calendar-title"><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></time>
      <div class="nav">
        <%= link_to calendar.url_for_previous_view do %>
          <i class="fa-solid fa-square-caret-left"></i>
        <% end %>
        <%= link_to t('simple_calendar.today', default: 'Today'), calendar.url_for_today_view, class: "button-today" %>
        <%= link_to calendar.url_for_next_view do %>
          <i class="fa-solid fa-square-caret-right"></i>
        <% end %>
      </div>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <% date_range.slice(0, 7).each do |day| %>
            <th><%= t('date.abbr_day_names')[day.wday] %></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% date_range.each_slice(7) do |week| %>
          <tr>
            <% week.each do |day| %>
              <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <%= day.day %>
                <% instance_exec(nil, calendar.sorted_events_for(day), &passed_block) %>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
