
  <div class="cards-campaign" data-search-target="campaign" data-name="<%= campaign.name.downcase %>">


    <%= link_to campaign_path(campaign) do %>
      <% if campaign.image.attached? %>
        <%= cl_image_tag campaign.image.key, alt: "#{campaign.name} image" %>
      <% else %>
        <%= image_tag('dnd_camp.png', alt: 'DnD Image') %>
      <% end %>
      <div class="camp-info">
        <h4><%= campaign.name %></h4>
        <p><%= campaign.setting %></p>
      </div>


      <div class="campaign-avatars">
      <% campaign.campaign_characters.each do |cc| %>
        <% if cc.character %>
          <div class="avatar-campaign">
            <% if cc.character.portrait.attached? %>
                <%= link_to character_path(cc.character) do %>
                <div class="avatar-campaign">
                  <%= cl_image_tag cc.character.portrait.key, alt: "Character Portrait" %>
                </div>
                <% end %>
              <% else %>
                <%= link_to character_path(cc.character) do %>
                <div class="avatar-campaigns">
                  <%= image_tag 'default_character.jpeg', alt: "Default Character" %>
                </div>
                <% end %>
            <% end  %>
          </div>
        <% end %>
      <% end %>
    </div>

    <% end %>
  </div>
