<div >
  <%= simple_form_for(@campaign) do |f| %>
    <%= f.input :name %>
    <%= f.input :setting %>
    <%= f.input :description, input_html: { class: "flexible-textarea" }  %>
    <div class="d-flex justify-content-between px-5">
      <%= f.input :active, as: :boolean, default: false %>
      <%= f.input :public, as: :boolean, default: false %>
    </div>
      <%= f.input :notes, input_html: { class: "flexible-textarea" }  %>
    <% if controller_name == 'campaigns' && action_name == 'new'%>
      <%= f.input :dm_notes, input_html: { class: "flexible-textarea" }  %>
    <% else %>
      <% if @campaign.user == current_user %>
        <%= f.input :dm_notes, input_html: { class: "flexible-textarea" }  %>
      <% end %>
    <% end %>
    <div>
      <%= f.input :image, as: :file %>
    </div>
    <%= f.button :submit, class:"new-btn" %>
  <% end %>
</div>
