<div class="camp-index">
  <h1>Campaigns</h1>
  <div class="index-container">


      <% @campaigns.each do |campaign| %>
          <div class="cards-campaign">
            <%= image_tag('dnd_camp.png', alt: 'DnD Image') %>

            <div class="camp-info">
              <h5 ><%= campaign.name %></h5>
              <p ><%= campaign.description %></p>
            </div>
            <div class="d-flex justify-content-evenly">
              <a class="view-camp" href="<%= campaign_path(campaign) %>" ><i class="fa-solid fa-scroll"></i></a>
              <a class="delete-camp" href="<%= campaign_path(campaign) %>" data-turbo-method="delete" data-turbo-confirm="Are you sure?"><i class="fa-solid fa-bomb"></i></a>
              <a class="edit-camp" href="<%= edit_campaign_path(campaign) %>"><i class="fa-solid fa-wand-sparkles"></i></a>
            </div>
          </div>

      <% end %>


  </div>
</div>

<%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete }, class: "btn btn-danger" %>
