<div class="camp-index">
  <h1>Campaigns</h1>
  <div class="index-container">


    <div class="camp-index-cards">
      <% @campaigns.each do |campaign| %>
        <div class="cards-campaign">
          <% if current_user == campaign.user %>
            <div class="camp-btns">
              <a class="delete-camp" href="<%= campaign_path(campaign) %>" data-turbo-method="delete" data-turbo-confirm="Are you sure?"><i class="fa-solid fa-bomb"></i></a>
              <a class="edit-camp" href="<%= edit_campaign_path(campaign) %>"><i class="fa-solid fa-wand-sparkles"></i></a>
            </div>
          <% end %>

          <%= link_to campaign_path(campaign) do %>
            <% if campaign.image.attached? %>
              <%= cl_image_tag campaign.image.key, alt: campaign.name %>
            <% else %>
              <%= image_tag('dnd_camp.png', alt: 'DnD Image') %>
            <% end %>

            <div class="camp-info">
              <h5 ><%= campaign.name %></h5>
              <p ><%= campaign.description %></p>
              <div>
                <%# <% if campaign.campaign_characters %>
                  <%# <% campaign.campaign_characters.each do |cc| %>
                    <%# <p><%= cc.character %>
                  <%# <% end %>
                <%# <% end %>
              </div>
            </div>

          <% end %>
        </div>
      <% end %>
    </div>


  </div>
</div>
