<div class="container mt-5">
  <div class="row">
    <div class="card col-md-8 offset-md-2">
      <div class="card-header">
        <h1 class="card-title"><%= @campaign.name %></h1>
        <h3 class="card-subtitle"><%= @campaign.setting %></h3>
      </div>
      <div class="card-body">
        <p><%= @campaign.description %></p>

        <p>DM: <%= @campaign.user.nickname %></p>

        <p>Current party members:</p>
        <ul>
          <% @campaign.campaign_characters.each do |cc| %>
          <% if cc.character %>
              <li><%= link_to cc.character.name, character_path(cc.character), class: "text-black" %> (<%= cc.character.user.nickname %>)</li>
            <% end %>
          <% end %>

        <p class="mt-4"><strong>Notes:</strong></p>
        <p><%= @campaign.notes %></p>

        <% if policy(@campaign).dm_notes? %>
          <p><strong>DM Notes:</strong></p>
          <p><%= @campaign.dm_notes %></p>
        <% end %>

        <div class="d-flex mt-4">
          <% if policy(@campaign).update? %>
            <%= link_to "Edit", edit_campaign_path(@campaign), class: "btn btn-warning mx-2" %>
          <% end %>
          <%= link_to "Back", campaigns_path, class: "btn btn-secondary mx-2" %>
          <% if policy(@campaign).destroy? %>
            <%= link_to "Delete", campaign_path(@campaign), data: { turbo_method: "delete", turbo_confirm: "Are you sure?" }, class: "btn btn-danger mx-2" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% if policy(@campaign).invite? %>
  <%= form_with model: [@campaign, @campaign_character], local: true do |form| %>
    <h2>Invite Users to this Campaign</h2>

    <%= form.label :user_id, 'Select a user to invite' %>
    <%= form.collection_select :user_id, User.where.not(id: @campaign.user.id), :id, :nickname, prompt: "Select a user" %>
    <%= form.submit "Send Invite" %>
  <% end %>
<% end %>

<div class="container chat">
  <h1>Your party chat for <%= @campaign.name %></h1>

  <div style="height: 300px; overflow-y: scroll;" data-controller="chat-scroll" data-chat-scroll-target="messages" class="scrollable-chat">
    <%= turbo_stream_from "campaign_#{@campaign.id}_messages" %>
    <div id="messages" class="messages">
      <% @campaign.messages.each do |message| %>
        <%= render "campaigns/message", message: message %>
      <% end %>
    </div>
  </div>
</div>

<%= simple_form_for [@campaign, @message],
  html: {class: "d-flex container",
          data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" }} do |f|
%>
  <%= f.input :content,
    label: false,
    placeholder: "Message your party",
    wrapper_html: {class: "flex-grow-1"}
  %>
  <%= f.submit "Send", class: "btn btn-primary mb-3" %>
<% end %>

<script>
  document.addEventListener("turbo:load", () => {
    console.log("Turbo:load triggered");
  });
</script>
