<div class="camp-container">
  <a class="back-btn-show" href="<%= campaigns_path %>"><i class="fa-regular fa-hand-point-left"></i></a>

    <% if current_user == @campaign.user %>
      <a class="edit-camp next-sess"href="<%= campaign_sessions_path(@campaign)%>"data-turbo-method="post"><i class="fa-regular fa-calendar-plus"></i></a>
    <% end %>

  <div class="camp-card">
    <div class="card-header">
      <h1><%= @campaign.name.capitalize %></h1>
      <h3 ><%= @campaign.setting %></h3>
    </div>

    <ul class="nav nav-tabs" id="campaignTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="details-tab" data-bs-toggle="tab" data-bs-target="#details-tab-pane" type="button" role="tab" aria-controls="details-tab-pane" aria-selected="true">Details</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="members-tab" data-bs-toggle="tab" data-bs-target="#members-tab-pane" type="button" role="tab" aria-controls="members-tab-pane" aria-selected="false">Members</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="notes-tab" data-bs-toggle="tab" data-bs-target="#notes-tab-pane" type="button" role="tab" aria-controls="notes-tab-pane" aria-selected="false">Notes</button>
      </li>
      <% if policy(@campaign).dm_notes? %>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="dm-notes-tab" data-bs-toggle="tab" data-bs-target="#dm-notes-tab-pane" type="button" role="tab" aria-controls="dm-notes-tab-pane" aria-selected="false">DM Notes</button>
        </li>
      <% end %>
    </ul>

    <div class="camp-tab-content"  id="campaignTabContent">
      <div class="tab-pane fade show active" id="details-tab-pane" role="tabpanel" aria-labelledby="details-tab" tabindex="0">
        <p><%= @campaign.description %></p>
        <p>DM: <%= @campaign.user.nickname %></p>
      </div>

      <div class="tab-pane fade" id="members-tab-pane" role="tabpanel" aria-labelledby="members-tab" tabindex="0">
        <p>Current party members:</p>
        <% @campaign.campaign_characters.each do |cc| %>
          <% if cc.character %>
            <li>
              <%= link_to cc.character.name, character_path(cc.character) %>
              (<%= cc.character.user.nickname %>)
            </li>
          <% end %>
        <% end %>
      </div>

      <div class="tab-pane fade" id="notes-tab-pane" role="tabpanel" aria-labelledby="notes-tab" tabindex="0">
        <p><strong>Notes:</strong></p>
        <p><%= @campaign.notes %></p>
      </div>

      <div class="tab-pane fade" id="dm-notes-tab-pane" role="tabpanel" aria-labelledby="dm-notes-tab" tabindex="0">
        <p><strong>DM Notes:</strong></p>
        <p><%= @campaign.dm_notes %></p>
      </div>

      <div class="camp-show-btns">
        <% if policy(@campaign).update? %>
          <%= link_to "Edit", edit_campaign_path(@campaign), class:"edit-camp-btn" %>
        <% end %>
        <% if policy(@campaign).destroy? %>
          <%= link_to "Delete", campaign_path(@campaign), data: { turbo_method: "delete", turbo_confirm: "Are you sure?" }, class:"delete-camp-btn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="invite-card m-5">
  <% if policy(@campaign).invite? %>
    <%= form_with model: [@campaign, @campaign_character], local: true do |form| %>
      <h2>Invite Users to this Campaign</h2>
      <div class="d-flex col-md-3 row g-4">
        <%= form.label :user_id, 'Select a player to invite:' %>
        <%= form.collection_select :user_id,
          User.where.not(id: @campaign.campaign_characters.pluck(:user_id) + [@campaign.user.id]),
          :id, :nickname,
          { prompt: "Select a player" },
          { required: true } %>
        <%= form.submit "Send Invite", class:"new-btn invite-btn" %>
      </div>
    <% end %>
  <% end %>
</div>

<% if current_user == @campaign.user || @campaign.campaign_characters.any? { |cc| current_user == cc.user } %>
  <div data-controller="chatbox" class="chat-container">
    <button data-action="click->chatbox#toggle" class="chat-toggle">
      📜 Party Chat
    </button>

    <div data-chatbox-target="box"
          class="chat-box d-none"
          data-controller="chat-scroll"
          data-action="chatbox:opened->chat-scroll#reconnect">
      <h2>Party Chat</h2>

      <div class="chat-messages" style="overflow-y: scroll;" data-chatbox-target="messages" data-chat-scroll-target="messages" class="scrollable-chat">
        <%= turbo_stream_from "campaign_#{@campaign.id}_messages" %>
        <div id="messages" class="messages">
          <% @campaign.messages.each do |message| %>
            <%= render "campaigns/message", message: message, campaign: @campaign %>
          <% end %>
        </div>
      </div>

      <%= simple_form_for [@campaign, @message],
        html: { class: "chat-form d-flex",
                data: { controller: "reset-form chatbox", action: "turbo:submit-end->reset-form#reset keydown->chatbox#submitOnEnter" }} do |f|
      %>
        <%= f.input :content,
          label: false,
          placeholder: "Message your party",
          input_html: { class: "chat-input", data: { chat_form_target: "input" } },
          wrapper_html: { class: "flex-grow-0" }
        %>
        <%= f.submit "Send", class: "chat-btn" %>
      <% end %>
    </div>
  </div>
<% end %>
