<h1><%= @campaign.name %></h1>
<h3><%= @campaign.setting %></h3>
<p><%= @campaign.description %></p>


<p><strong>Notes:</strong></p>
<p><%= @campaign.notes %></p>


<% if @campaign.user == current_user %>
  <p><strong>GM Notes:</strong></p>
  <%= @campaign.gm_notes %>
<% end %>

<%= link_to 'Edit', edit_campaign_path(@campaign), class: 'btn btn-primary' %>
<%= link_to 'Back', campaigns_path, class: 'btn btn-primary' %>
<%= link_to 'Delete', campaign_path(@campaign), turbo_method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-secondary' %>
