<div class="container mt-5">
  <div class="row">
    <div class="card col-md-8 offset-md-2">
      <div class="card-header">
        <h1 class="card-title"><%= @campaign.name %></h1>
        <h3 class="card-subtitle"><%= @campaign.setting %></h3>
      </div>
      <div class="card-body">
        <p><%= @campaign.description %></p>

        <p><strong>Notes:</strong></p>
        <p><%= @campaign.notes %></p>

        <% if @campaign.user == current_user %>
          <p><strong>GM Notes:</strong></p>
          <p><%= @campaign.gm_notes %></p>
        <% end %>

        <div class="d-flex mt-4">
          <%= link_to "Edit", edit_campaign_path(@campaign), class: "btn btn-warning mx-2" %>
          <%= link_to "Back", campaigns_path, class: "btn btn-secondary mx-2" %>
          <%= link_to "Delete", campaign_path(@campaign), data: { turbo_method: "delete", turbo_confirm: "Are you sure?" }, class: "btn btn-danger mx-2" %>
        </div>
      </div>
    </div>
  </div>
</div>
