<!DOCTYPE html>
<html>
  <head>
    <title>QuestOdyssey</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/54697ea06b.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Faculty+Glyphic&family=Grenze+Gotisch:wght@100..900&family=Inspiration&family=Lavishly+Yours&family=Pirata+One&family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="wrapper">
      <%= render "shared/navbar" %>
      <%= render "shared/flashes" %>
      <div class="page-content">
        <%= yield %>
      </div>
      <%= turbo_stream_from "notifications_#{current_user.id}" %>
      <div data-controller="notifications" class="d-flex align-items-center justify-content-center">
        <div class="dropdown">
          <button class="btn btn-link p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-action="click->notifications#toggle" data-notifications-target="bell">
            <i class="fas fa-bell"></i>
            <% unread_notifications_count = @notifications.where(read: false).count %>
            <% if unread_notifications_count > 0 %>
              <span class="badge bg-danger" data-notifications-target="badge" style="position: absolute; top: -5px; right: -5px; font-size: 0.7em;">
                <%= unread_notifications_count %>
              </span>
            <% end %>
          </button>
          <ul class="dropdown-menu" aria-labelledby="notificationsDropdown" data-notifications-target="dropdown">
            <% @notifications.each do |notification| %>
              <li>
                <a class="dropdown-item" href="<%= notification.url %>">
                  <%= notification.message %>
                </a>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
